<header class="site-header">
  
  {% if page.url == "/" %}
  <h1 class="logo">
    <a href="/">
      {% include logo.svg %}
    </a>
  </h1>
  {% else %}
  <div class="logo">
    <a href="/">
      {% include logo.svg %}
    </a>
  </div>
  {% endif %}
  
  {% if page.layout == "library" or page.collection == "library" or page.category == "library" %}
    {% assign current_section = "library" %}
  {% elsif page.categories or page.category %}
    {% assign current_section = page.supercategory | default: page.category | default: page.categories.first %}
  {% elsif page.url == "/more/"
        or page.url == "/tags/"
        or page.url == "/search/"
        or page.layout == "feed"
        or page.layout == "archive"
        or page.layout == "tag" %}
    {% assign current_section = "more" %}
  {% else %}
    {% assign current_section = nil %}
  {% endif %}
  
  {% if current_section == "unread" %}
    {% assign current_section = "more" %}
  {% endif %}
  
  <nav class="site-nav">
    <ul>
      {%- for feed in site.data.feeds -%}
      {%- if feed.menu == true -%}
      <li><a {%- if feed.name == current_section %} aria-current="location"{% endif %} href="{{ feed.name | prepend: '/' | append: '/' | relative_url }}">{{ feed.name }}</a></li>
      {%- endif %}
      {% endfor -%}
    </ul>
  </nav>
</header>
