// Cobalt Options
// -----------------------------------------------------------------------------

$link-underlines: false;
// Apply `text-decoration: underline` to all links

$blockquote-gutters: true;
// Style blockquotes with email-style gutter lines

$reset-list-styles: true;
// Remove list indentation and markers

$limit-text-width: false;
// Apply $text-max-width to text block elements and headings

$limit-body-width: false;
// Apply $page-max-width to body element

$include-table-styles: false;
$include-code-styles: true;
$include-form-styles: true;




// Base Dimensions
// -----------------------------------------------------------------------------

$text-spacing: 1em;             // for localized spacing based on font-size
$box-padding: 2rem;             // for unified padding in layout elements
$text-max-width: 35em;          // maximum width for text elements
$page-max-width: 56rem;         // maximum width for page layout




// Colors
// -----------------------------------------------------------------------------

$black-gray:  #333;
$white-gray:  hsl(0, 0%, 96%);
$super-white-gray: hsl(0, 0%, 97%);

$dark-gray:   mix($black-gray, $white-gray, 75%);
$medium-gray: mix($black-gray, $white-gray, 50%);
$light-gray:  mix($black-gray, $white-gray, 25%);

$white: #ffffff;          // #ffffff or #f8f8f8
$blue: cornflowerblue;

$contrast-gray: #767676;  // #767676 or #727272
$contrast-blue: #3971db;

// original:  #ffffff + #6495ed  hsl(219, 79%, 66%)  2.97:1

// match:     #ffffff + #3271e7  hsl(219, 79%, 55%)  4.51:1
// low sat:   #ffffff + #3971db  hsl(219, 69%, 54%)  4.60:1

// match:     #f8f8f8 + #286be6  hsl(219, 79%, 53%)  4.56:1
// low sat:   #f8f8f8 + #346eda  hsl(219, 69%, 53%)  4.50:1

$dark-mode-black: #222;
$dark-mode-white: #eee;

$orange: #edbd64;
$orange2: #eab34e;
$magenta: #ed6494;
$yellowgreen: #4EE000;
$yellowgreen2: #9ECC00;
$lightred: #ed7864;
$red: #DA6550;




// Webfonts
// -----------------------------------------------------------------------------

@font-face {
  src: url('../fonts/InputSansNarrow-Regular.woff2') format("woff2"),
       url('../fonts/InputSansNarrow-Regular.woff') format("woff");
  font-family: 'InputSansNarrow';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/InputSansNarrow-Italic.woff2') format("woff2"),
       url('../fonts/InputSansNarrow-Italic.woff') format("woff");
  font-family: 'InputSansNarrow';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/InputSansNarrow-Bold.woff2') format("woff2"),
       url('../fonts/InputSansNarrow-Bold.woff') format("woff");
  font-family: 'InputSansNarrow';
  font-style: normal;
  font-weight: bold;
}

//@import "extras/test-fonts";




// Cobalt Base
// -----------------------------------------------------------------------------

// Page
$body-margin: 0;
$body-padding: 0;
$body-background-color: $blue;
$main-background-color: $white;

// Typography
$base-font-family: "InputSansNarrow", system-ui, sans-serif;
$heading-font-family: null;
$base-line-height: 1.75;
$heading-line-height: 1.5;
$h1-font-size: 1.75em;
$h2-font-size: null;
$h3-font-size: null;
$h4-font-size: null;
$h5-font-size: null;
$h6-font-size: null;
$figcaption-font-size: null;
$list-indent: 2.2em;
$blockquote-indent: null;

// Spacing
$heading-spacing: null;
$paragraph-spacing: null;
$blockquote-spacing: null;
$list-spacing: null;
$details-spacing: null;
$figure-spacing: null;
$figure-children-spacing: null;
$table-spacing: null;
$pre-spacing: null;
$hr-spacing: 4;

// Font Colors
$base-font-color: null;
$faded-font-color: null;
$blockquote-font-color: null;
$figcaption-font-color: null;
$link-color: $contrast-blue;
$link-hover-color: darken($link-color, 15%);
$link-active-color: darken($link-color, 25%);

// Borders
$base-border-color: null;
$base-border-width: null;
$base-border-radius: null;




// Cobalt Tables
// -----------------------------------------------------------------------------

$cobalt-tables: true;

$table-border-width: null;
$table-border-color: null;
$table-padding: null;
$thead-background-color: null;




// Cobalt Code
// -----------------------------------------------------------------------------

$cobalt-code: true;

$code-font-color: null;
$code-background-color: null;
$code-border-radius: null;
$code-font-size: null;
$code-padding: null;

$pre-font-color: null;
$pre-background-color: $super-white-gray;
$pre-border-radius: null;
$pre-font-size: null;
$pre-line-height: null;
$pre-padding: null;
$pre-tab-size: null;




// Cobalt Forms
// -----------------------------------------------------------------------------

$cobalt-forms: true;

$button-padding: null;
$input-padding: null;
$button-color: null;
$button-hover-color: null;
$button-active-color: null;
$button-font-color: null;
$input-box-shadow: null;
$input-placeholder-color: null;

$form-element-spacing: null;
$fieldset-spacing: null;




// Media Queries
// -----------------------------------------------------------------------------

$small-screen-down: max-width  25rem; //  400px @ 16px root
$medium-screen-up:  min-width  35rem; //  560px @ 16px root
$large-screen-up:   min-width  60rem; //  960px @ 16px root
$xlarge-screen-up:  min-width  75rem; // 1200px @ 16px root
$xxlarge-screen-up: min-width 100rem; // 1600px @ 16px root
$full-width-up: min-width $page-max-width;
$landscape: min-aspect-ratio "5/4";
$portrait:  max-aspect-ratio "4/5";
$very-wide: min-aspect-ratio "2/1";
$very-tall: max-aspect-ratio "1/2";




// Project Variables
// -----------------------------------------------------------------------------

$underline-thickness: 0.1em;
$underline-offset: 0.25em;
$border-underline-thickness: 0.125em;

$secondary-font-color: $contrast-gray;
$draft-background-color: $white-gray;
$star-rating-color: goldenrod;
$star-rating-muted-color: #969696;

:root {
  --secondary-font-color: #{$secondary-font-color};
  --draft-background-color: #{$draft-background-color};
  --star-rating-color: #{$star-rating-color};
  --star-rating-muted-color: #{$star-rating-muted-color};
}

$skip-to-main-height: 2.75em;

