@font-face {
    font-family: BlancoWeb;
    src: url("../fonts/BlancoWeb-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: BlancoWeb;
    src: url("../fonts/BlancoWeb-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
