@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-UltraLight.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Thin.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: InputSystemWeb;
    src: url("../fonts/InputSystem-Heavy.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

