/* Hairline, specified as separate family */
@font-face {
    font-family: OutputSansWebHair;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Hairline_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Hairline_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Hairline_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Hairline_TRIAL.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWebHair;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-HairlineItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-HairlineItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-HairlineItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-HairlineItalic_TRIAL.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Thin_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Thin_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Thin_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Thin_TRIAL.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ThinItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ThinItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ThinItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ThinItalic_TRIAL.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLight_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLight_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLight_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLight_TRIAL.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLightItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLightItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLightItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-ExtraLightItalic_TRIAL.woff") format("woff");
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Light_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Light_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Light_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Light_TRIAL.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-LightItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-LightItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-LightItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-LightItalic_TRIAL.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Regular_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Regular_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Regular_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Regular_TRIAL.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Italic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Italic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Italic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Italic_TRIAL.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Medium_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Medium_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Medium_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Medium_TRIAL.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-MediumItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-MediumItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-MediumItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-MediumItalic_TRIAL.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Bold_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Bold_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Bold_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Bold_TRIAL.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-BoldItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-BoldItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-BoldItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-BoldItalic_TRIAL.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

/* Black */            
@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Black_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-Black_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Black_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-Black_TRIAL.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: OutputSansWeb;
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-BlackItalic_TRIAL.eot");
    src: url("https://djr.com/assets/fonts/Output/full/OutputSans-BlackItalic_TRIAL.eot?#iefix") format("embedded-opentype"), url("https://djr.com/assets/fonts/Output/full/OutputSans-BlackItalic_TRIAL.woff2") format("woff2"), url("https://djr.com/assets/fonts/Output/full/OutputSans-BlackItalic_TRIAL.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}
