---
layout: page
---

{% if page.category %}
  {% assign feed_url = page.url | replace: "/index.html", "/" | append: "feed" | relative_url %}
{% else %}
  {% assign feed_url = "/feed" | relative_url %}
{% endif %}

<header class="section-header">
  <h1 class="section-title">{{ page.title }}</h1>
  <div class="text">
    <p><code>{% raw %}{{ content }}{% endraw %}</code>:</p>
    <p class="feed-description error-highlight">{{ content }}</p>
    <p><code>{% raw %}{{ page.content }}{% endraw %}</code>:</p>
    <p class="feed-description error-highlight">{{ page.content }}</p>
    <p class="feeds">{% include icon.html icon="rss" width="0.875em" %} Subscribe via <a href="{{ feed_url }}.xml">RSS</a> or <a href="{{ feed_url }}.json">JSON&nbsp;Feed</a>.</p>
  </div>
</header>

